.container {
  display: none;
  flex-direction: column;
  flex: 1 1 0%;
  max-width: 48rem;
  height: 100%;
  position: relative;
}

.container.isActive {
  display: flex;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-right: 1px solid rgb(38, 38, 38);
}

.inner.isLogged {
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (min-width: 48rem) {
  .container {
    display: flex;
    width: 24rem;
    border-right: 1px solid rgb(38, 38, 38);
  }
}

.button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  height: 2rem;
  width: 2rem;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 48rem) {
  .back {
    display: none;
  }
}

.icon {
  color: rgb(229, 229, 229);
}
